<% provide(:class_text, 'overtime_application') %>
<% provide(:button_text, '確認') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <% @users.each do |user| %>
            <h2 class="modal-title center">【<%= user.name %>からの一か月分の勤怠申請】</h2>
            <table class="table table_bordered table_striped overtime_application_table">
              <thead>
                <tr>
                  <th>月</th>
                  <th>指示者確認</th>
                  <th>変更</th>
                  <th>勤怠を確認する</th>
                </tr>
              </thead>
              <tbody>
                <%= form_with(model: user, local: true) do |f| %>
                  <%= f.fields_for "attendances[]", user do |attendance| %>
                    <tr>
                      <td><%=  %></td>
                      <td><%= attendance.select , { class: 'form-control' , required: true } %></td>
                      <td><%= attendance.check_box %></td>
                      <td><%= link_to "確認", '#', class: "btn btn_primary" %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% end %>
          <%= user.submit %>
        </div>
      </div>
    </div>
  </div>
</div>